@import "tailwindcss";

@theme {

    --color-customRed: #D9534F;
    --color-customYellow: #FFD700;
    --color-customOrange: #FF8C00;
    --color-customLightGreen: #D3E0DC;
    --color-customTeal: #40E0D0;
    --color-customBeige: #F5DEB3;
    --color-customGray: #1E3233;

    --font-brutal: IBM Plex Sans, sans-serif;

    --spacing-xs: '4px';
    --spacing-sm: '8px';
    --spacing-md: '16px';
    --spacing-lg: '24px';
    --spacing-xl: '32px';
    --spacing-2xl: '48px';

    --borderRadius-none: '0';
    --borderRadius-sm: '2px';
    --borderRadius-md: '4px';
    --borderRadius-lg: '8px';

    --boxShadow-brutal: '4px 4px 0px rgba(0, 0, 0, 1)';

    --animate-color-play: colorPlay 17s ease-in-out infinite;

    @keyframes colorPlay {
        25% {
            fill: var(--color-customOrange);
        }

        50% {
            fill: var(--color-customYellow);
        }

        75% {
            fill: var(--color-customGray);
        }
    }
}

/*motion-safe:animate-color-play*/

a.active {
    @apply text-customRed;
}

.menuIcon {
    @apply drop-shadow-xl drop-shadow-transparent duration-[500ms];
}

.menuIcon:hover,
.menuIcon:focus-within {
    @apply drop-shadow-customYellow;
}

.menuIcon .menuFragment {
    @apply scale-[1] transition-transform origin-center;
}

.menuIcon:hover .menuFragment,
.menuIcon:focus-within .menuFragment {
    @apply scale-[.9] transition-transform;
}